# Note the variable: NODE_ENV is being set through npm scripts in package.json

# API url 
# It MUST contain version and start with slash, no trailing slash
# Version is determined from major release version, read more: https://docs.npmjs.com/getting-started/semantic-versioning

API_URL=/api/v1

# Put lots of randomness in these
SESSION_SECRET=ashdfjhasdlkjfhalksdjhflak

# External API keys
FACEBOOK_ID=754220301289665
FACEBOOK_SECRET=41860e58c256a3d7ad8267d3c1939a4a